@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/bg-intro.jpg");
}

.container .content {
    display: flex;
    height: 100%;
}

.container .content .content-one {
    margin: auto 0;
    margin-left: 10rem;
    width: 25rem;
    position: relative;
}

.container .content .content-one h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.container .content .content-one p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.container .content .content-one .button-login,
.container .content .content-one .button-register {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 400;
    transition: ease-in-out 0.3s;
}

.container .content .content-one .button-register {
    background-color: #ffc107;
    color: #000;
    margin-left: 0.5rem;
}

.container .content .content-one .button-login:hover,
.container .content .content-one .button-register:hover {
    opacity: 80%;
}

.container .content .content-one .copy {
    position: absolute;
    bottom: -12rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.container .content .content-one .circle {
    position: absolute;
    bottom: -42rem;
    left: -12rem;
    width: 40rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 100%;
    opacity: 20%;
}

.container .content .content-two {
    position: relative;
}

.container .content .content-two img {
    width: 70rem;
    position: absolute;
    top: 0;
    left: -3rem;
}

@media (max-width: 768px) {
    .container .content .content-one {
        margin: auto 0;
        margin-left: 3rem;
        width: 25rem;
        position: relative;
    }

    .container .content .content-one .button-login,
    .container .content .content-one .button-register {
        padding: 1rem 3rem;
        font-size: 100%;
    }

    .container .content .content-two img {
        width: 35rem;
        position: absolute;
        top: 2rem;
        left: -22rem;
    }
}

@media (max-width: 450px) {
    * {
        font-size: 90%;
    }

    .container .content .content-one {
        margin: auto 0;
        margin-left: 1rem;
        width: 25rem;
        position: relative;
    }

    .container .content .content-one .button-login,
    .container .content .content-one .button-register {
        padding: 1rem 3rem;
        font-size: 100%;
    }

    .container .content .content-two img {
        width: 35rem;
        position: absolute;
        top: 0;
        left: -22rem;
    }
}

@media (max-width: 378px) {
    .container .content .content-two img {
        width: 30rem;
        position: absolute;
        top: 0;
        left: -22rem;
    }
}
